export("fars_read_years","fars_summarize_years","fars_map_state")

importFrom("dplyr","mutate","select","group_by","bind_rows","summarize")

importFrom("tidyr","spread")

importFrom("graphics","points")

importFrom("readr","read_csv")

import("knitr")

import("testthat")

importFrom("maps","map")
